body {
    background-image: url(../media/background.png);
    background-size: 200vh 130vh;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

header h1 {
    font-size: calc(1em + 1vw);
}

#head_wrap {
    display: flex;
    align-items: center;
}
#head_wrap h1{
    margin-left: auto;
    margin-right: auto;
}

#op{
    border-radius: 10px;
    background: #2e82c3;
    /* color: #ffffff;  */
    font-weight: bold;
}

#cnt{
    display: block;
    font-size: calc(0.05em + 1vw);
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
}
table {
    /* display: block; */
    width: 100%; 
    border-collapse: separate; 
    border-spacing: 4px;
    text-align: center;
}
table thead tr {
    color: #ffffff; 
    font-weight: bold;
}
table thead tr td {
    border-radius: 4px 4px 0 0;
    background: #2e82c3;
}
table tbody tr td {
    border: 1px solid #2e82c3;
    border-radius: 4px;
    background: #cbdfef;
}
table tbody tr td:hover {
    background: #a2c3dd; 
    transition-duration: 0.2s;
}
.search {
    display: block;
    padding: auto;
    font-size: calc(0.5em + 1.5vw);
    border: 3px solid black;
    border-radius: 25px;
    width: auto;
    text-align: center;
    margin: auto;
    margin-top: auto;
    cursor: pointer;
    /* transition: all .5s ease-in-out; */
}

.search:hover{
    border-color: rgb(17, 117, 163);
    background-color: rgb(26, 163, 226);
    transition: all .5s ease-in-out;
}
.data{
    text-align: center;
    font-size: calc(0.5em + 0.4vw);
    cursor: pointer;
    width: auto;
}

button:focus{
    outline: none;
    border-color: rgb(255, 153, 0);
}