body {
    background-image: url(../media/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 51vw;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

header h1 {
    font-size: calc(0.5em + 1.5vw);
}

#head_wrap {
    display: flex;
    align-items: center;
}

.search {
    display: block;
    padding: auto;
    font-size: calc(0.5em + 1.5vw);
    border: 3px solid black;
    border-radius: 25px;
    width: auto;
    text-align: center;
    margin: auto;
    margin-top: auto;
    cursor: pointer;
    /* transition: all .5s ease-in-out; */
}


#block{
    display: inline-block;
    width: auto;
    /* transition: all .5s ease-in-out; */
    padding: auto;
    margin-left: auto;
    margin-right: auto;
}
#block:hover{
    /* color:white; */
    border :calc(0.05em + 0.5vw) solid black;
    border-radius: 25px;
    border-color: white;
    transition: all .5s ease-in-out
}
#block:hover .search{
    border-color: rgb(17, 117, 163);
    background-color: rgb(26, 163, 226);
    transition: all .5s ease-in-out;
}

#name{
    text-align: center;
    font-size: calc(0.5em + 1vw);
}

#date{
    display: flex;
    text-align: center;
    cursor: pointer;
    font-size: calc(0.5em + 1vw);
    margin-left: auto;
    margin-right: auto;
}
#in{
    font-size: calc(0.5em + 1.5vw);
    display: inline;
    text-align: center;
    align-self: center;
    margin-left: 10%;
}
#cnt{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}