body {
    background-image: url(../media/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

header h1 {
    font-size: 35px;
}

#head_wrap {
    display: flex;
    align-items: center;
}

.search {
    display: block;
    padding: 10px;
    font-size: 70px;
    border: 2px solid black;
    /* width: 20%; */
    text-align: center;
    margin: auto;
    margin-top: 20vh;
    cursor: pointer;
    /* transition: all .5s ease-in-out; */
}

.search:hover {
    color: black;
    transition: all .5s ease-in-out;
}

#block{
    display: inline-block;
    width: 30%;
    /* transition: all .5s ease-in-out; */
    padding: 23px;
}
#block:hover{
    color:white;
    border-color: white;
    transition: all .5s ease-in-out
}
#block:hover .search{
    border-color: white;
    /* transition: all .5s ease-in-out */
}
#name{
    text-align: center;
}